#!/usr/bin/env bash

# transfer.sh command
transfer(){ if [ $# -eq 0 ];then echo "No arguments specified.\nUsage:\n transfer <file|directory>\n ... | transfer <file_name>">&2;return 1;fi;if tty -s;then file="$1";file_name=$(basename "$file");if [ ! -e "$file" ];then echo "$file: No such file or directory">&2;return 1;fi;if [ -d "$file" ];then file_name="$file_name.zip" ,;(cd "$file"&&zip -r -q - .)|curl --progress-bar --upload-file "-" "https://transfer.sh/$file_name"|tee /dev/null,;else cat "$file"|curl --progress-bar --upload-file "-" "https://transfer.sh/$file_name"|tee /dev/null;fi;else file_name=$1;curl --progress-bar --upload-file "-" "https://transfer.sh/$file_name"|tee /dev/null;fi;}

# Get info about own IP or IP passed as param
function ipinfo() {
    if [ $# -gt 0 ]; then
        curl https://ipinfo.io/widget/demo/$1
    else
        curl https://ipinfo.io/widget/demo/$(curl -s https://ipinfo.io/ip)
    fi
}

function rdp() {
    xfreerdp /d:gslabs.local /u:administrator /p:VMware123! /dynamic-resolution /v:"$1"
    # Requires XQuartz to be installed on Mac
}

function prompt() {
    curl -Ss http://localhost:11434/api/generate -d '{"model": "llama3.1", "prompt": "'"$1"'", "stream": false}' | jq -r '.response'
}

function neo() {
	promptarooney=$(cat << EOF
"""

>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<


>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<


>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<


>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<


I need your help to write a summary for a customer which will have 6 headings; Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification. 

Each heading is described in detail below in the following format. 
Component
Description 
Questions to Ask to clarify the point
Examples

===
## Issue Clarification 
Description: Provide your short Synopsis of the issue, in technical terms What specifically is the issue the customer is having? Provide more context as most case descriptions will be vague

Questions to Ask to clarify the point: 
What's the impact to the customer's environment? Are they down, degraded performance, etc.

Are there any additional specifics that you could include in the IC to help make this stand out better for TSEs and customers? VMware Aria Automation - Remote console - Http failure response 500 OK
Customer is attempting to upgrade VMware Tools in a VM and it's failing

Examples:
System Alert "vCenter task and event collection failed for the following hosts" triggered in vRLI 8.10.2.


## Issue Verification
Description: Evidence-driven update that verifies you captured and understood the issue What steps did you take to identify the issue?

Questions to Ask to clarify the point: Were there any specific log entries, error messages or unique identifiers that helped verify the issue? Post upgrade or fresh install of VMware Aria Automation to version 8.12, users are unable to access managed machines via remote console, fails with either of the below error messages:

"Cannot establish a remote console connection. Verify that the machine is powered on. If the server has a self-signed certificate, you might need to accept the certificate, then close and retry the connection."
Customer receives error message that an required MSI is missing

Verified by confirming the alert the customer received as described in the "Details" of the VRLI UI.


## Cause Identification
Description: 
Outline detailed information, identifying the cause of the issue What is the suspected cause of the customer's issue?

Questions to Ask to clarify the point: 
How did you identify this?
What steps did you take to find this cause? The remote console functionality has changed in the Aria Automation 8.12 release due to the introduction of webmks and the deprecation of mks ticket type in vCenter 8.x
VMware Tools upgrade logs indicate that Microsoft Visual C++ MSI is missing. Customer confirmed it was uninstalled recently.

Examples:
VRLI Certificate has expired.

## Cause Justification
Description: 
Produce supporting information that allowed the cause of the issue to be identified What lead you to believe this is the cause of the issue?

Questions to Ask to clarify the point: 
How did you find this information?
What sources did you use to prove this is the cause?

Examples:
If you found a KB that matches the issue, explain why you believe the KB matches the issue? Prior to Aria Automation version 8.12, the remote console traffic from end user client machines to the ESXi hosts was proxied through the Aria Automation appliance. In the 8.12 release which leverages the webmks ticket type the connection is now directly made between the browser on the client machine and the ESXi host.
Microsoft Visual C++ MSI is a required component for the VMware Tools update process.

The output of "openssl x509 -noout -in /storage/core/loginsight/cidata/cassandra/config/cacert.pem -enddate" shows the SSL cert has expired.

When vRLI SSL expires, the communication between vRLI and the vCenter breaks as vCenter will not recognize the server with an invalid SSL cert, which caused the collection to fail in vRLI.


## Solution Recommendation
Description: 
Deliver the steps need to resolve or work around the issue 

Questions to Ask to clarify the point: 
What steps should the customer follow to resolve the issue?

Examples:
If you are referencing from a KB, feel free to point to the KB and specific section that should be followed in the KB This is planned be fixed in a future version Aria Automation. In the meanwhile apply workaround: 306126
Recommended the customer download and install that latest Visual C++ MSI from Microsoft's website: https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170

Recommend following KB 342206 to generate valid default self-signed certs. Once complete, validate the connections are successful in vRLI for the integration of vCenter(s).


## Solution Justification
Description: 
Add supporting data for Solution Recommendation such as KBs, & docs Why should the customer follow the steps outlined in the Solution Recommendation?

Questions to Ask to clarify the point: 
What sources of information did you use to build our the Solution Recommendation?

If you found a KB, why do you believe the KB offers the right solution?
If you engaged with Engineering, what did they provide to back up the solution? Known issue: 306126
It's necessary to have the Microsoft Visual C++ properly installed in the Windows guest OS to allow MSI packages to be managed, including VMware Tools

Examples:
Per KB 342206, a valid certificate is required for VRLI to communicate with vCenter. Performing the required steps will restore connection between the systems.
===


I will put the findings of a case below. >>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<< If you feel a heading can't be populated just leave it as N/A.


>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<



>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<


>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<


>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<

$*

>>>I need you to extract the details from the case findings, and populate each of the *6 headings* (Issue Clarification, Issue Verification, Cause Identification, Cause Justification, Solution Recommendation, Solution Justification) based on the findings.<<<
"""
EOF
)
	prompt "$promptarooney"

}

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# Create a .tar.gz archive, using `zopfli`, `pigz` or `gzip` for compression
function targz() {
	local tmpFile="${@%/}.tar";
	tar -cvf "${tmpFile}" --exclude=".DS_Store" "${@}" || return 1;

	size=$(
		stat -f"%z" "${tmpFile}" 2> /dev/null; # macOS `stat`
		stat -c"%s" "${tmpFile}" 2> /dev/null;  # GNU `stat`
	);

	local cmd="";
	if (( size < 52428800 )) && hash zopfli 2> /dev/null; then
		# the .tar file is smaller than 50 MB and Zopfli is available; use it
		cmd="zopfli";
	else
		if hash pigz 2> /dev/null; then
			cmd="pigz";
		else
			cmd="gzip";
		fi;
	fi;

	echo "Compressing .tar ($((size / 1000)) kB) using \`${cmd}\`…";
	"${cmd}" -v "${tmpFile}" || return 1;
	[ -f "${tmpFile}" ] && rm "${tmpFile}";

	zippedSize=$(
		stat -f"%z" "${tmpFile}.gz" 2> /dev/null; # macOS `stat`
		stat -c"%s" "${tmpFile}.gz" 2> /dev/null; # GNU `stat`
	);

	echo "${tmpFile}.gz ($((zippedSize / 1000)) kB) created successfully.";
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Use Git’s colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
	function diff() {
		git diff --no-index --color-words "$@";
	}
fi;

# Create a data URL from a file
function dataurl() {
	local mimeType=$(file -b --mime-type "$1");
	if [[ $mimeType == text/* ]]; then
		mimeType="${mimeType};charset=utf-8";
	fi
	echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')";
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
	local port="${1:-8000}";
	sleep 1 && open "http://localhost:${port}/" &
	# Set the default Content-Type to `text/plain` instead of `application/octet-stream`
	# And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
	python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port";
}

# Start a PHP server from a directory, optionally specifying the port
# (Requires PHP 5.4.0+.)
function phpserver() {
	local port="${1:-4000}";
	local ip=$(ipconfig getifaddr en1);
	sleep 1 && open "http://${ip}:${port}/" &
	php -S "${ip}:${port}";
}

# Compare original and gzipped file size
function gz() {
	local origsize=$(wc -c < "$1");
	local gzipsize=$(gzip -c "$1" | wc -c);
	local ratio=$(echo "$gzipsize * 100 / $origsize" | bc -l);
	printf "orig: %d bytes\n" "$origsize";
	printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio";
}

# Run `dig` and display the most useful info
function digga() {
	dig +nocmd "$1" any +multiline +noall +answer;
}

# Normalize `open` across Linux, macOS, and Windows.
# This is needed to make the `o` function (see below) cross-platform.
if [ ! $(uname -s) = 'Darwin' ]; then
	if grep -q Microsoft /proc/version; then
		# Ubuntu on Windows using the Linux subsystem
		alias open='explorer.exe';
	else
		alias open='xdg-open';
	fi
fi

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}



# Show all the names (CNs and SANs) listed in the SSL certificate
# for a given domain
function getcertnames() {
	if [ -z "${1}" ]; then
		echo "ERROR: No domain specified.";
		return 1;
	fi;

	local domain="${1}";
	echo "Testing ${domain}…";
	echo ""; # newline

	local tmp=$(echo -e "GET / HTTP/1.0\nEOT" \
		| openssl s_client -connect "${domain}:443" -servername "${domain}" 2>&1);

	if [[ "${tmp}" = *"-----BEGIN CERTIFICATE-----"* ]]; then
		local certText=$(echo "${tmp}" \
			| openssl x509 -text -certopt "no_aux, no_header, no_issuer, no_pubkey, \
			no_serial, no_sigdump, no_signame, no_validity, no_version");
		echo "Common Name:";
		echo ""; # newline
		echo "${certText}" | grep "Subject:" | sed -e "s/^.*CN=//" | sed -e "s/\/emailAddress=.*//";
		echo ""; # newline
		echo "Subject Alternative Name(s):";
		echo ""; # newline
		echo "${certText}" | grep -A 1 "Subject Alternative Name:" \
			| sed -e "2s/DNS://g" -e "s/ //g" | tr "," "\n" | tail -n +2;
		return 0;
	else
		echo "ERROR: Certificate not found.";
		return 1;
	fi;
}
